@use '../../../styles/variables.scss' as variables;

.main {
  width: 100%;
  border-bottom: 3px solid variables.$secondary-color;
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 120px;
  background-color: variables.$primary-color;

  h1 {
    margin: 0 0 15px 0;
    font-family: sans-serif;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; 
    padding: 10px 0;

    .nav-item {
      height: 50px;
      display: flex;
      justify-content: center;
      flex: 1;
    }
  }
}