

.container{
    display: flex;
    width: 600px;
    margin-top: 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    &:hover{
        background-color: rgb(218, 214, 214);
    }
    .tasks{
        display: flex;
        width: 100%;
        height: 75px;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        .info{
            display: inline-block;
            font-size: large;
            font-weight: bold;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        
    }
    .details{
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 10px;
        width: 100px;
        height: 75px;
        font-size: large;
        font-weight: bold;
        background-color: lightblue;
        cursor: pointer;
        border: 3px solid lightblue;
        color: black;
        transition:  all 0.5s ease;
        
        &:hover{
            background-color: rgb(154, 196, 196);
        }
    }



}